* {
    font-family: 'roboto', 'sans-serif';
    margin: 0;
}

/* header */
nav {
    background-color: #FC8C78;
    height: 10vh;
}

nav ul {
    list-style-type: none;

    width: 15%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

/* AboutView body */
p#about {
    padding: 20px;
    margin-top: 30px;
    font-size: 1.5em;
}

/* HomeView body */
h3.title {
    text-align: center;
    margin: 20px;
    font-style: oblique;
}

div.todos {
    margin: 0 auto;
    width: 80%;
    height: 70vh;
    overflow-y: scroll;

    border: 1px solid greenyellow;
}

.todo {
    background-color: rgba(255, 255, 255, 57%);
    margin: 20px 10px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo .links {
    width: 20%;

    display: flex;
    justify-content: space-between;
}

.todo .links a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-style: italic;
}

.todo .links a.details {
    border: 2px solid #00FF11;
}
.todo .links a.edit {
    border: 2px solid yellow;
}
.todo .links a.delete {
    border: 2px solid red;
}

.button.home {
    width: 10%;
    margin-top: 10px;
    margin-left: 10%;
}

/* TodoDetailsView body */
main.details {
    width: 50%;
    margin: 0 auto;
}

main.details > *{
    margin: 20px 0;
}

main.details div {
    font-size: 1.4em;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;

    display: flex;
    justify-content: space-between;
}

main.details div :first-child{
    font-weight: bold;
}

main.details div :last-child {
    color: #1B3D2F;
}

p.button.details {
    width: 18%;
    margin-top: 50px;
}

/* all */
body {
    background-image: url('../images/Pencil.jpg');
    background-size: cover;
}

input.invisible {
    display: none;
}

.button {
    font-size: 1.2em;
    border: 2px solid #00EDD1;
    background-color: transparent;
    padding: 20px;
    max-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button a {
    text-decoration: none;
    color: black;
}

form {
    width: 50vw;
    margin: 0 auto;
}

form input, label {
    display: block;
}

form textarea, input[type='date'] {
    width: 100%;
    font-size: 1.1em;
}

form div {
    margin: 30px 0px;
}

form input[type='submit'] {
    font-size: 1.2em;
    border: 2px solid #00EDD1;
    background-color: transparent;
    max-height: 50px;
    padding: 10px;
    width: 20%;
}

form label {
    font-weight: bold;
    font-size: 1.2em;
}